<div class="dashboard">
  <h1>👋 Welcome to the Teamtailor Import Export tool</h1>
  <p class="dashboard__instruction">To start using tool, please enter your API key. You can find istruction how to generate it <a href="https://support.teamtailor.com/en/articles/5338195-use-our-teamtailor-api">here</a></p>


  <% if @api_key.blank? %>
    <%= render 'dashboards/form_api_key' %>
  <% else %>
    <div>
      You are using the following API key:
      <%= @api_key %>
    </div>
    <%= form_with url: "/api_key/reset", method: :post do |form| %>
      <%= form.submit "Reset" %>
    <% end %>
    <h1> Supported resources: </h1>
    <ul>
      <li>Candidates</li>
    </ul>
  <% end %>
</div>