body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f9;
}
h1 {
  font-size: 28px;
  margin-top: 42px;
  text-align: center;
  font-weight: bold;
  color: #34353A
}
h2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 32px;
  color: #34353A
}

a {
  text-decoration: none;
}



.header {
  &__logo {
    margin: 0 auto;
    display: block;
  }
}