.resource-list {
  margin: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__toolbar {
    display: flex;

    .action-button {
      background: #E5E6E9;
      border-radius: 19px;
      width: 36px;
      height: 36px;
      border: none;
      margin-left: 8px;
      cursor: pointer;
    }

    .settings {
      margin-left: 20px;
    }

    .filters {
      background: #E5E6E9;
      border-radius: 19px;
      height: 36px;
      padding-left: 10px;
      padding-right: 10px;
    }

    select {
      font-weight: 600;
      border: none;
      background: #E5E6E9;
      color: #57595F;
      font-size: 14px;
      line-height: 18px;
      margin: 8px 10px;
      width: 100px;
      cursor: pointer;
    }
  }

  &__table {
    background-color: #fff;
    padding: 67px 24px;

    table {
      border-collapse: collapse;
      border-bottom: 1px solid #D2D3D6;
    }

    tr:nth-child(even) {
      background: #F8F8F9
    }

    th {
      border: 1px solid #D2D3D6;
      padding: 18px 12px;
      text-align: left;
    }
    td:first-child {
      border-left: 1px solid #D2D3D6;
    }

    td {
      padding: 18px 12px;
      text-align: left;
      border-right: 1px solid #D2D3D6;
    }
  }

  &__pagination {
    text-align: center;
    margin-top: 30px;
  }
}